<ul id="nav">
    <li class="exception current"><a href="/exceptions/">Exceptions</a></li>
    <li class="slow">
        <a href="/slow-pages/">Slow Pages</a>
        <ul>
            <li><a href="">Most common</a></li>
            <li><a href="">Most Recent</a></li>
        </ul>
    </li>
    <li class="cal">
        <a href="/slow-pages/">Last month</a>
        <ul>
            <li><a href="">Last hour</a></li>
            <li><a href="">Last day</a></li>
            <li><a href="">Last month</a></li>
        </ul>
    </li>
</ul>