/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body { line-height: 1; color: black; background: white; }

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: "" ""; }
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

@import url(url(http://fonts.googleapis.com/css?family=Droid+Serif:regular.css);
@import url(bold).css);
@import url(url(http://fonts.googleapis.com/css?family=Droid+Sans:regular.css);
@import url(bold).css);
@import url(url(http://fonts.googleapis.com/css?family=Droid+Mono:regular.css);
@import url(bold).css);
/* line 11, ../../../sass/core.sass */
html { font-size: 12px; font-family: "Helvetica"; min-height: 100%; background: #7e8a8b; background: -webkit-gradient(linear, left top, left bottom, from(#7e8a8b), to(#2e3736)); background: -moz-linear-gradient(top, #7e8a8b, #2e3736); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e8a8b', endColorstr='#2e3736'); }

/* line 16, ../../../sass/core.sass */
body { background: transparent; }

/* line 18, ../../../sass/core.sass */
a { text-decoration: none; }
/* line 20, ../../../sass/core.sass */
a:hover { text-decoration: underline; }

/* line 23, ../../../sass/core.sass */
#grid { background: white; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; width: 1200px; margin: 20px auto; }

/* line 29, ../../../sass/core.sass */
ul.nav { background: #2e3736; background: -webkit-gradient(linear, left top, left bottom, from(#2e3736), to(#0d1616)); background: -moz-linear-gradient(top, #2e3736, #0d1616); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3736', endColorstr='#0d1616'); -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; border: solid 1px black; }
/* line 33, ../../../sass/core.sass */
ul.nav li { display: inline-block; }
/* line 35, ../../../sass/core.sass */
ul.nav li a { color: white; font-size: 18px; text-shadow: 1px 1px black; padding: 20px 20px 20px 60px; display: block; }
/* line 41, ../../../sass/core.sass */
ul.nav li.slow a { background: url(/media/img/icon-slow.png) no-repeat; background-position: 10px 12px; }
/* line 44, ../../../sass/core.sass */
ul.nav li.exception a { background: url(/media/img/icon-exception.png) no-repeat; background-position: 10px 12px; }
