<ul class="items urls">
    <li class="alt">
        <span class="num high">8734ms</span>
        <span class="file">http://www.giantbomb.com/forums/whatever.htmlhttp://www.giantbomb.com/forums/whatever.html</span>
        <span class="date">June 20, 2010 20:34</span>
    </li>
    <li>
        <span class="num high">8734ms</span>
        <span class="file">http://www.giantbomb.com/forums/whatever.html</span>
        <span class="date">June 20, 2010 20:34</span>
    </li>
    <li class="alt">
        <span class="num mid">8734ms</span>
        <span class="file">http://www.giantbomb.com/forums/whatever.html</span>
        <span class="date">June 20, 2010 20:34</span>
    </li>
    <li>
        <span class="num mid">8734ms</span>
        <span class="file">http://www.giantbomb.com/forums/whatever.html</span>
        <span class="date">June 20, 2010 20:34</span>
    </li>
    <li class="alt">
        <span class="num low">8734ms</span>
        <span class="file">http://www.giantbomb.com/forums/whatever.html</span>
        <span class="date">June 20, 2010 20:34</span>
    </li>
</ul>