{% extends "tapz/grids/popup_twocol.html"%}

{% block col_header %}
    <ul class="items">
        <li class="error">
            <span class="num high">{{ errors|length }}</span>
            <span class="file">{{ source }}</span>
        </li>
    </ul>
{% endblock %}

{% block col_one %}
    <div class="wrap">
        <ul class="items">
            {% for error in errors %}
            <li class="detail {% cycle "" "alt" %}" detail="{% url tapz-panel event_type=current_panel.type %}detail/?id={{ error.id }}">
                <span class="file">{{ error.url }}</span>
                <span class="path">{{ error.module }}:{{ error.line_number }}</span>
                <span class="first">{{ error.date|date }}</span>
            </li>
            {% endfor %}
        <ul>
    </div>
{% endblock %}

{% block col_two %}
    <div class="wrap">
        <div id="error-detail"></div>
     </div>
{% endblock %}
    
