/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body { line-height: 1; color: black; background: white; }

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: "" ""; }
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

@import url(url(http://fonts.googleapis.com/css?family=Droid+Serif:regular.css);
@import url(bold).css);
@import url(url(http://fonts.googleapis.com/css?family=Droid+Sans:regular.css);
@import url(bold).css);
@import url(url(http://fonts.googleapis.com/css?family=Droid+Mono:regular.css);
@import url(bold).css);
/* line 11, ../../../sass/core.sass */
html { font-size: 12px; font-family: "Helvetica"; min-height: 100%; background: #7e8a8b; background: -webkit-gradient(linear, left top, left bottom, from(#7e8a8b), to(#2e3736)); background: -moz-linear-gradient(top, #7e8a8b, #2e3736); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e8a8b', endColorstr='#2e3736'); }

/* line 16, ../../../sass/core.sass */
body { background: transparent; position: relative; }

/* line 19, ../../../sass/core.sass */
a { text-decoration: none; }
/* line 21, ../../../sass/core.sass */
a:hover { text-decoration: underline; }

/* line 25, ../../../sass/core.sass */
#loading { width: 100px; height: 100px; position: fixed; z-index: 300; background: white; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; left: 50%; top: 50%; margin-left: -50px; margin-top: -50px; -moz-box-shadow: 0 0 5px black; -webkit-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; text-align: center; font-size: 11px; color: #999999; }
/* line 40, ../../../sass/core.sass */
#loading img { display: block; margin: 10px 0px 10px 37px; }

/* line 43, ../../../sass/core.sass */
#masker { position: fixed; background: white; height: 100%; width: 100%; z-index: 100; top: 0; left: 0; opacity: 0.75; display: none; }

/* line 53, ../../../sass/core.sass */
#popup { width: 1100px; height: 600px; position: fixed; z-index: 200; background: #171c1c; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; left: 50%; margin-left: -550px; top: 50px; -moz-box-shadow: 0 0 5px black; -webkit-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; display: none; }
/* line 65, ../../../sass/core.sass */
#popup .close { width: 22px; height: 22px; background: url(/media/img/icon-close.png) no-repeat; position: absolute; top: -5px; right: -5px; }
/* line 72, ../../../sass/core.sass */
#popup .col-header { background: white; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; margin: 20px 20px 0px 20px; }
/* line 77, ../../../sass/core.sass */
#popup.twocol-bigleft .col-one { float: left; width: 30%; }
/* line 80, ../../../sass/core.sass */
#popup.twocol-bigleft .col-one .wrap { margin: 20px 20px 0px 20px; background: #2d3736; -moz-box-shadow: 0 0 3px black; -webkit-box-shadow: 0 0 3px black; box-shadow: 0 0 3px black; padding: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; color: white; height: 470px; overflow-y: auto; overflow-x: hidden; }
/* line 90, ../../../sass/core.sass */
#popup.twocol-bigleft .col-one .wrap ul.items li span { font-size: 10px; }
/* line 92, ../../../sass/core.sass */
#popup.twocol-bigleft .col-one .wrap ul.items li span.file { left: 10px; text-align: right; }
/* line 95, ../../../sass/core.sass */
#popup.twocol-bigleft .col-one .wrap ul.items li span.first { left: 10px; }
/* line 97, ../../../sass/core.sass */
#popup.twocol-bigleft .col-two { float: left; width: 70%; }
/* line 100, ../../../sass/core.sass */
#popup.twocol-bigleft .col-two .wrap { margin: 20px 20px 20px 0px; padding: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; line-height: 1.5; height: 450px; overflow: auto; background: black; }
/* line 108, ../../../sass/core.sass */
#popup.twocol-bigleft .col-two .wrap pre { font-family: "Monaco", "Courier"; font-size: 10px; color: #197792; }
/* line 112, ../../../sass/core.sass */
#popup.twocol-bigleft .col-two .wrap h2 { font-size: 18px; color: white; margin-bottom: 10px; }

/* line 118, ../../../sass/core.sass */
#grid { background: white; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; width: 1200px; margin: 20px auto; min-height: 680px; -moz-box-shadow: 0 0 5px black; -webkit-box-shadow: 0 0 5px black; box-shadow: 0 0 5px black; }
/* line 126, ../../../sass/core.sass */
#grid.twocol-equal .col-one { float: left; width: 50%; }
/* line 129, ../../../sass/core.sass */
#grid.twocol-equal .col-one .wrap { margin: 20px 0px 20px 20px; }
/* line 131, ../../../sass/core.sass */
#grid.twocol-equal .col-one .wrap .graph { height: 370px; padding: 10px; margin-bottom: 20px; -moz-box-shadow: 0 0 3px #999999; -webkit-box-shadow: 0 0 3px #999999; box-shadow: 0 0 3px #999999; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; }
/* line 137, ../../../sass/core.sass */
#grid.twocol-equal .col-one .wrap .stats { height: 145px; padding: 10px; position: relative; -moz-box-shadow: 0 0 3px #999999; -webkit-box-shadow: 0 0 3px #999999; box-shadow: 0 0 3px #999999; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; }
/* line 143, ../../../sass/core.sass */
#grid.twocol-equal ul.rollup li { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; width: 130px; height: 80px; display: inline-block; background: #7e8a8b; color: #bac5c6; margin-left: 10px; text-align: center; font-size: 11px; font-weight: bold; line-height: 1.5; text-shadow: 1px 1px #646c6d; -moz-box-shadow: 0 0 3px #999999; -webkit-box-shadow: 0 0 3px #999999; box-shadow: 0 0 3px #999999; }
/* line 157, ../../../sass/core.sass */
#grid.twocol-equal ul.rollup li:first-child { margin-left: 0px; }
/* line 159, ../../../sass/core.sass */
#grid.twocol-equal ul.rollup li h3 { color: white; font-size: 30px; text-shadow: 1px 2px #2d3736; margin-top: 6px; }
/* line 164, ../../../sass/core.sass */
#grid.twocol-equal .col-two { float: left; width: 50%; }
/* line 167, ../../../sass/core.sass */
#grid.twocol-equal .col-two .wrap { margin: 20px 20px 0px 20px; background: #2d3736; -moz-box-shadow: 0 0 3px #999999; -webkit-box-shadow: 0 0 3px #999999; box-shadow: 0 0 3px #999999; padding: 10px; height: 555px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; color: white; }
/* line 175, ../../../sass/core.sass */
#grid.twocol-equal .col-two .wrap h2 { font-size: 18px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; background: #171c1c; padding: 10px; text-transform: uppercase; font-weight: bold; font-size: 12px; }
/* line 183, ../../../sass/core.sass */
#grid.twocol-equal .col-two ul.items.urls li { height: 20px; padding: 2px; }
/* line 187, ../../../sass/core.sass */
#grid.twocol-equal .col-two ul.items.urls li span.num { line-height: 14px; height: 14px; left: 20px; top: 5px; font-size: 10px; }
/* line 193, ../../../sass/core.sass */
#grid.twocol-equal .col-two ul.items.urls li span.file { top: 6px; left: 100px; font-size: 10px; color: #4e605e; width: 300px; overflow: hidden; }
/* line 200, ../../../sass/core.sass */
#grid.twocol-equal .col-two ul.items.urls li span.date { top: 3px; right: 5px; color: #4e605e; background: none; }
/* line 206, ../../../sass/core.sass */
#grid.twocol-equal .col-one ul.items { margin-top: 12px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; background: white; -moz-box-shadow: 0 0 3px #999999; -webkit-box-shadow: 0 0 3px #999999; box-shadow: 0 0 3px #999999; }
/* line 212, ../../../sass/core.sass */
#grid.twocol-equal .page-speed ul.items li span.num { font-size: 12px; }
/* line 214, ../../../sass/core.sass */
#grid.twocol-equal .page-speed ul.rollup li { width: 178px; }

/* line 217, ../../../sass/core.sass */
ul.items li { height: 30px; display: block; position: relative; padding: 10px; overflow: hidden; }
/* line 223, ../../../sass/core.sass */
ul.items li:hover { cursor: pointer; }
/* line 225, ../../../sass/core.sass */
ul.items li span { position: absolute; white-space: nowrap; }
/* line 228, ../../../sass/core.sass */
ul.items li span.num { font-size: 18px; text-align: center; height: 30px; width: 60px; left: 10px; top: 10px; line-height: 30px; color: #171c1c; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; }
/* line 238, ../../../sass/core.sass */
ul.items li span.high { background: red; }
/* line 240, ../../../sass/core.sass */
ul.items li span.mid { background: orange; }
/* line 242, ../../../sass/core.sass */
ul.items li span.low { background: yellow; }
/* line 244, ../../../sass/core.sass */
ul.items li span.file { left: 80px; top: 10px; width: 350px; overflow: hidden; }
/* line 249, ../../../sass/core.sass */
ul.items li span.line { right: 10px; top: 10px; }
/* line 252, ../../../sass/core.sass */
ul.items li span.first { bottom: 10px; left: 80px; font-size: 10px; color: #4e605e; }
/* line 257, ../../../sass/core.sass */
ul.items li span.last, ul.items li span.max { bottom: 10px; right: 10px; font-size: 10px; color: #4e605e; }
/* line 262, ../../../sass/core.sass */
ul.items li span.min { bottom: 10px; right: 100px; font-size: 10px; color: #4e605e; }
/* line 267, ../../../sass/core.sass */
ul.items li span.date { background: #2d3736; font-size: 10px; color: white; line-height: 12px; padding-top: 3px; height: 27px; }
/* line 274, ../../../sass/core.sass */
ul.items li.alt { background: #242c2b; }

/* line 277, ../../../sass/core.sass */
#nav { background: #2e3736; background: -webkit-gradient(linear, left top, left bottom, from(#2e3736), to(#0d1616)); background: -moz-linear-gradient(top, #2e3736, #0d1616); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3736', endColorstr='#0d1616'); -moz-border-radius-topleft: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; border: solid 1px black; padding: 10px; z-index: 5; }
/* line 283, ../../../sass/core.sass */
#nav li { display: inline-block; position: relative; padding-right: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; }
/* line 288, ../../../sass/core.sass */
#nav li a { color: white; font-size: 18px; text-shadow: 1px 1px black; padding: 10px 10px 10px 50px; border: solid 1px transparent; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; display: block; }
/* line 296, ../../../sass/core.sass */
#nav li.page-speed { background: url(/media/img/icon-slow.png) no-repeat; background-position: 5px 2px; }
/* line 299, ../../../sass/core.sass */
#nav li.page-speed:hover, #nav li.page-speed.current { background-color: #0b0f0f; border-color: black; }
/* line 302, ../../../sass/core.sass */
#nav li.errors { background: url(/media/img/icon-exception.png) no-repeat; background-position: 5px 2px; }
/* line 305, ../../../sass/core.sass */
#nav li.errors:hover, #nav li.errors.current { background-color: #0b0f0f; border-color: black; }
/* line 308, ../../../sass/core.sass */
#nav li.cal { background: url(/media/img/icon-cal.png) no-repeat; background-position: 5px 2px; float: right; }
/* line 312, ../../../sass/core.sass */
#nav li.cal:hover, #nav li.cal.current { background-color: #0b0f0f; border-color: black; }
/* line 315, ../../../sass/core.sass */
#nav li:hover ul { display: block; z-index: 5; }
/* line 318, ../../../sass/core.sass */
#nav li ul { display: none; position: absolute; top: 35px; background: #0b0f0f; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; }
/* line 324, ../../../sass/core.sass */
#nav li ul li a { background: transparent; display: block; font-size: 12px; padding: 10px 10px 10px 20px; }
